.scroll_checkboxes {
    height: 150px;
    padding: 5px;
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #ffffff;
    width: 50%;
}
body{
	background: #F5F5F5;
}

#appendedInputButton {
	border-radius: 0;
	border: 0;
    font-size: 16px;
    padding: 30px 10px;
}
.lighted {
	color: #CACCCD;
}
a:hover {
	text-decoration: none;
}

.search-header {
	background-image:url('../img/background1.jpg');
	background-repeat:no-repeat;
	background-color: #ffffff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 280px;
}

.search-header h1 {
	margin-top: 70px;
	color: #ffffff;
}

.search-header .input-group-addon {
	background: #ffffff;
	border: none;
}

.search-header .input-group-addon i {
	font-size: 26px;
}

.mi-container-main{
	padding: 0 20px 0;
	background-color: rgba(255,255,255,0.8);
}

.table{
	background-color: #ffffff;
}

.form-actions{
	background-color: rgba(255,255,255,0.0);
}

.accordion-toggle{
	font-size: 18px;
	font-weight: bold;
}

.accordion-toggle:hover{
	text-decoration: none;
}

.frontend_home_piece{
	
}
