.scroll_checkboxes {
    height: 150px;
    padding: 5px;
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #ffffff;
    width: 50%;
}
body{
	background: #F5F5F5;
}

.search-rows {
	border-bottom: 1px solid #F5F5F5;
	margin: 8px 0;
}
.search-rows:last-child {
	border-bottom: none;
}
.contact-form input,
.contact-form textarea {
	border-radius: 0;
	margin-bottom: 5px;
}
.related-articles {
	border-top: 1px solid lightgray;
	margin-top: 50px;
}

.related-articles .col-md-6 {
	margin-top: 10px;
}

#appendedInputButton {
	border-radius: 0;
	border: 0;
    font-size: 16px;
    padding: 30px 10px;
}
.lighted {
	color: #CACCCD;
}

a {
	color: #37A044;
}

a:hover {
	text-decoration: none;
	color: #37A044;
	opacity: 0.8;
}

.search-header {
	background-image:url('../img/background2.jpg');
	background-repeat:no-repeat;
	background-color: #ffffff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 280px;
}

.search-header h1 {
	margin-top: 70px;
	color: #ffffff;
}

.search-header .input-group-addon {
	background: #ffffff;
	border: none;
}

.search-header .input-group-addon i {
	font-size: 26px;
}

.mi-container-main{
	padding: 0 20px 0;
	background-color: rgba(255,255,255,0.8);
}

.table{
	background-color: #ffffff;
}

.form-actions{
	background-color: rgba(255,255,255,0.0);
}

.accordion-toggle{
	font-size: 18px;
	font-weight: bold;
}

.accordion-toggle:hover{
	text-decoration: none;
}

.frontend_home_piece{
	
}
